
.idea/

energyscope.egg-info/

energyscope/__pycache__/

energyscope/misc/__pycache__/

energyscope/preprocessing/__pycache__/

*.log


case_studies/

energyscope/postprocessing/__pycache__/

energyscope/postprocessing/draw_sankey/__pycache__/

.DS_Store
